<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1>메모</h1>
    <form @submit="submitMemo">
      <input type="text" v-model="memoTitle"><br>
      <textarea name="" id="" cols="30" rows="10" v-model="memoContent"></textarea>
      <input type="submit" value="추가">
    </form>

    <memo-comp
    v-for="m in memoList"
    v-bind:id="m.id"
    v-bind:key="m.id"
    @deletememo="delet">
        <span slot="h2">{{m.title}} </span>
        <p slot="content">{{m.content}}</p>
        <p slot="time">{{m.timec}}</p>
    </memo-comp>
  </div>
  <script>
    Vue.component("memo-comp", {
      props : ['id'],
      data() {
        return {
        }
      },
      template : `<div>
          <h2><slot name="h2"></slot><button @click="senddelet">X</button></h2>
          <slot name="content"></slot>
          <hr>
          <slot name="time"></slot>
        </div>`,
      methods : {
        senddelet() {
          this.$emit("deletememo", this.id)
        }
      }
    })

    new Vue({
      el : "#app",
      data: {
        memoList : [],
        memoTitle : "",
        memoContent : "",
        id : 0,
      },
      methods: {
        submitMemo(e) {
          e.preventDefault()
          if(this.memoTitle && this.memoContent) {
            this.memoList.push({
              title : this.memoTitle,
              content : this.memoContent,
              time : new Date(),
              id : this.id,
            })
            this.id++
            let ml = this.memoList.length
            this.memoList[ml-1].timec = this.timeChange
            this.memoTitle = ""
            this.memoContent = ""
          }
        },
        delet(id) {
          let index = 0
          this.memoList.forEach((element, i) => {
            if (element.id == id) {
              this.memoList.splice(i, 1)
            }
          });
        },
      },
      computed : {
        timeChange() {
          let ml = this.memoList.length
          let time = this.memoList[ml-1].time
          let year = time.getFullYear()
          let month = time.getMonth()
          let date = time.getDate()
          let day = time.getDay()
          if (day == 0) {
            day = '일요일'
          } else if (day == 1) {
            day = '월요일'
          } else if (day == 2) {
            day = '화요일'
          } else if (day == 3) {
            day = '수요일'
          } else if (day == 4) {
            day = '목요일'
          } else if (day == 5) {
            day = '금요일'
          } else if (day == 6) {
            day = '토요일'
          }
          let hours = time.getHours()
          let minutes = time.getMinutes()
          let fulltime = `${year}년 ${month}월 ${date}일 ${day} ${hours}시 ${minutes}분`

          return fulltime
        }
      }
    })
  </script>
</body>
</html>